<div class="container">
    <h1>Update Tarefa</h1>
   
    <a href="#" routerLink="/tarefa/index" class="btn btn-primary">Back</a>
          
    <form [formGroup]="form" (ngSubmit)="submit()">
    
        <div class="form-group">
             <input formControlName="tarefaId"
                id="descricao" 
                type="hidden" 
                [(ngModel)]="tarefa.tarefaId"
                class="form-control">
        </div>

        <div class="form-group">
            <label for="tarefaStatusId">TarefaStatus:</label>
             <input formControlName="tarefaStatusId"
                id="tarefaStatusId" 
                type="text" 
                class="form-control">
            <div *ngIf="f['tarefaStatusId'].touched && f['tarefaStatusId'].invalid" class="alert alert-danger">
                <div *ngIf="f['tarefaStatusId'].errors && f['tarefaStatusId'].errors['required']">Title is required.</div>
            </div>

        <div class="form-group">
            <label for="descricao">Descricao:</label>
             <input formControlName="descricao"
                id="descricao" 
                type="text" 
                [(ngModel)]="tarefa.descricao"
                class="form-control">
            <div *ngIf="f['descricao'].touched && f['descricao'].invalid" class="alert alert-danger">
                <div *ngIf="f['descricao'].errors && f['descricao'].errors['required']">Title is required.</div>
            </div>
        </div>

        
        </div>
        <div class="form-group">
            <label for="data">Data:</label>
             <input formControlName="data"
                id="data" 
                type="text" 
                [(ngModel)]="tarefa.data"
                class="form-control">
            <div *ngIf="f['data'].touched && f['data'].invalid" class="alert alert-danger">
                <div *ngIf="f['data'].errors && f['data'].errors['required']">Title is required.</div>
            </div>
        </div>
           
        <div class="form-group">
            <label for="tarefaStatusId">Data:</label>
             <input formControlName="tarefaStatusId"
                id="tarefaStatusId" 
                type="text" 
                [(ngModel)]="tarefa.tarefaStatusId"
                class="form-control">
            <div *ngIf="f['tarefaStatusId'].touched && f['tarefaStatusId'].invalid" class="alert alert-danger">
                <div *ngIf="f['tarefaStatusId'].errors && f['tarefaStatusId'].errors['required']">Title is required.</div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Update</button>
    </form>
</div>