<div class="container">
    <h1>View Tarefa</h1>
  
    <a href="#" routerLink="/tarefa/index" class="btn btn-primary">Back</a>
   
    <div>
        <strong>Id:</strong>
        <p *ngIf="tarefa">{{ tarefa.tarefaId  }}</p>
    </div>

    <div>
        <strong>Descricao:</strong>
        <p *ngIf="tarefa">{{ tarefa.descricao }}</p>
    </div>

    <div>
        <strong>Status:</strong>
        <p *ngIf="tarefa">{{ tarefa.tarefaStatusId }}</p>
    </div>

    <div>
        <strong>Data:</strong>
        <p *ngIf="tarefa">{{ tarefa.data }}</p>
    </div>
   
</div>