<div class="container">
    <h1>View Tarefa</h1>
  
    <a href="#" routerLink="/tarefa/index" class="btn btn-primary">Back</a>
   
    <div>
        <strong>Id:</strong>
        <p>{{ tarefa.tarefaId }}</p>
    </div>

    <div>
        <strong>Descricao:</strong>
        <p>{{ tarefa.descricao }}</p>
    </div>

    <div>
        <strong>Status:</strong>
        <p>{{ tarefa.tarefaStatusId }}</p>
    </div>

    <div>
        <strong>Data:</strong>
        <p>{{ tarefa.data }}</p>
    </div>
   
</div>